<div class="row" id="hard">

    <h1>Hard & Soft Skills:</h1>
    <!-----------------HARD SKILLS------------------------>
        <!--SKILL N°1-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="70"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [title] = "'HTML 5'"
        [titleColor]="'white'"
        [titleFontSize]="'15px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeColor]="'#ffff'"
        [innerStrokeColor]="'#ffff'"
        [backgroundColor]="'transparent'"
        [animation]="true"
        [animationDuration]="300">
    </circle-progress>
    </div>
        <!--SKILL N°2-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="70"
            [radius]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [title] = "'CSS 3'"
            [titleColor]="'white'"
            [titleFontSize]="'15px'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeColor]="'#ffff'"
            [innerStrokeColor]="'#ffff'"
            [backgroundColor]="'transparent'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
        <!--SKILL N°3-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
                <circle-progress
                [percent]="60"
                [radius]="70"
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="6"
                [title] = "'JAVASCRIPT'"
                [titleColor]="'white'"
                [titleFontSize]="'15px'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeColor]="'#ffff'"
                [innerStrokeColor]="'#ffff'"
                [backgroundColor]="'transparent'"
                [animation]="true"
                [animationDuration]="300">
            </circle-progress>
    </div>
        <!--SKILL N°4-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="40"
            [radius]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [title] = "'ANGULAR'"
            [titleColor]="'white'"
            [titleFontSize]="'15px'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeColor]="'#ffff'"
            [innerStrokeColor]="'#ffff'"
            [backgroundColor]="'transparent'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
        <!--SKILL N°5-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
                    <circle-progress
                    [percent]="75"
                    [radius]="70"
                    [outerStrokeWidth]="12"
                    [innerStrokeWidth]="6"
                    [title] = "'PHP'"
                    [titleColor]="'white'"
                    [titleFontSize]="'15px'"
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [outerStrokeColor]="'#ffff'"
                    [innerStrokeColor]="'#ffff'"
                    [backgroundColor]="'transparent'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
    </div>
        <!--SKILL N°6-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="60"
            [radius]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [title] = "'LARAVEL'"
            [titleColor]="'white'"
            [titleFontSize]="'15px'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeColor]="'#ffff'"
            [innerStrokeColor]="'#ffff'"
            [backgroundColor]="'transparent'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
        <!--SKILL N°7-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
                    <circle-progress
                    [percent]="65"
                    [radius]="70"
                    [outerStrokeWidth]="12"
                    [innerStrokeWidth]="6"
                    [title] = "'SQL'"
                    [titleColor]="'white'"
                    [titleFontSize]="'15px'"
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [outerStrokeColor]="'#ffff'"
                    [innerStrokeColor]="'#ffff'"
                    [backgroundColor]="'transparent'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
    </div>
        <!--SKILL N°8-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="40"
            [radius]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [title] = "'JAVA'"
            [titleColor]="'white'"
            [titleFontSize]="'15px'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeColor]="'#ffff'"
            [innerStrokeColor]="'#ffff'"
            [backgroundColor]="'transparent'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <!-----------------SOFT SKILLS------------------------>
        <!--SKILL N°1-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [title] = "'INGLES'"
        [titleColor]="'white'"
        [titleFontSize]="'15px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeColor]="'#ffff'"
        [innerStrokeColor]="'#ffff'"
        [backgroundColor]="'transparent'"
        [animation]="true"
        [animationDuration]="300">
    </circle-progress>
    </div>
        <!--SKILL N°2-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="70"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [title] = "'GITHUB'"
        [titleColor]="'white'"
        [titleFontSize]="'15px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeColor]="'#ffff'"
        [innerStrokeColor]="'#ffff'"
        [backgroundColor]="'transparent'"
        [animation]="true"
        [animationDuration]="300">
    </circle-progress>
    </div>
        <!--SKILL N°3-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="70"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [title] = "'TRABAJO EN EQUIPO'"
        [titleColor]="'white'"
        [titleFontSize]="'10px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeColor]="'#ffff'"
        [innerStrokeColor]="'#ffff'"
        [backgroundColor]="'transparent'"
        [animation]="true"
        [animationDuration]="300">
    </circle-progress>
    </div>
        <!--SKILL N°4-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="70"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [title] = "'EMPATIA'"
        [titleColor]="'white'"
        [titleFontSize]="'15px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeColor]="'#ffff'"
        [innerStrokeColor]="'#ffff'"
        [backgroundColor]="'transparent'"
        [animation]="true"
        [animationDuration]="300">
    </circle-progress>
    </div>
</div>

