<div class="row" id="acerca-de">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Foto.jpg" alt="Foto" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <span id="titulo">
            <h2 id="nombre">Mauro Poloni</h2>
            <p>Full-stack web developer</p>
        </span>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mi:</h2>
            <p>
                Profesional, responsable, autodidacta, adoro los retos y no me rindo fácilmente. Con interés en trabajar y formar parte de el mundo IT. Mis objetivos son poder obtener experiencia profesional en el área del desarrollo Web y poder aprender de mis compañeros y superiores. Tengo amplios conocimientos en Desarrollo Web tanto en Front End como en Back End.
            </p>
        </span>
    </div>
</div>

