<div class="row">
    <h1>Experiencia laboral:</h1>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>IdealSur.com</h2> - <h3>1 mes (Abril 2022 - Mayo 2022)</h3>
            </li>
            <p>
                - Mantenimiento de sistemas ERP: 
                <br>
                Lenguajes: PHP 7-8, JavaScript, MySQL
                <br>
                - Desarrollo de pagina web: 
                <br>
                Lenguajes: HTML5, CSS3, JAVASCRIPT, BOOTSTRAP
            </p>
        </ul>
        <ul>
            <li>
                <h2>Aziende Global</h2> - <h3>3 mes (Febrero 2022 - Abril 2022)</h3>
            </li>
            <p>
                - Mantenimiento de base de datos: 
                <br>
                Lenguajes: MYSQL, PHP 7-8, Laravel 8
            </p>
        </ul>
        <ul>
            <li>
                <h2>Grupo B&B</h2> - <h3>1 mes (Febrero 2022 - Marzo 2022)</h3>
            </li>
            <p>
                - Mantenimiento de base de datos: 
                <br>
                Lenguajes: MYSQL, PHP 7-8, Laravel 8
                <br>
                - Desarrollo de paginas web: 
                <br>
                Lenguajes: HTML5, CSS3, JAVASCRIPT, JQUERY, BOOTSTRAP
            </p>
        </ul>
    </div>
</div>
