<div class="row">
    <h1>Educación:</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Tecnicatura en desarrollos web y aplicaciones moviles</h2> - <h3>(Marzo 2022 - Julio 2024)</h3>
            </li>
            <p>
                Instituto superior politecnico de Cordoba
            </p>
        </ul>
        <ul>
            <li>
                <h2>Desarrollador Web Full-Stack Jr</h2> - <h3>(Octubre 2021 - Septiembre 2022)</h3>
            </li>
            <p>
                Argentina Programa
            </p>
        </ul>
        <ul>
            <li>
                <h2>Ing. en Sistemas</h2> - <h3>(Marzo 2020 - Julio 2021)</h3>
            </li>
            <p>
                UTN de Mendoza,Argentina
            </p>
        </ul>
    </div>
</div>

