<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP" alt="Logo">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/mauro-poloni/" target="_blank">
                <img src="../../../assets/linkedin.png" id="linkedin" alt="linkedin">
            </a>
            <a href="https://github.com/Mauro-Poloni" target="_blank">
                <img src="../../../assets/github.png" id="github" alt="github">
            </a>
            <a href="https://www.instagram.com/maurop.ok/" target="_blank">
                <img src="../../../assets/instagram.png" id="instagram" alt="instagram">
            </a>
            <a href="https://www.facebook.com/Mauro.Poloni16/" target="_blank">
                <img src="../../../assets/facebook.png" id="facebook" alt="facebook">
            </a>
            <a href="https://twitter.com/MauroJPoloni" target="_blank">
                <img src="../../../assets/twitter.png" id="twitter" alt="twitter">
            </a>
            <button type="button" class="btn btn-outline-light">Ingresar</button>
        </div>
    </div>
</div>